{% extends 'frontend/default/base.html.twig' %}

{% block body %}

    <div class="row">
        <div class="col-md-12">

            <h4 class="text-center">Users</h4>
            <table class="table table-striped table-responsive">
                <thead>
                <tr>
                    <td>#</td>
                    <td>Name</td>
                    <td>Email</td>
                    <td>Role</td>
                    <td>Published Posts</td>
                </tr>
                </thead>
                <tbody>
                {% for user in users %}
                    <tr>
                        <td>{{ user.id }}</td>
                        <td><a href="{{ path('user_posts', {'email':user.email}) }}">{{ user.name }}</a></td>
                        <td>{{ user.email }}</td>
                        <td>
                            {% for role in user.roles %}
                                {{ role|replace({'ROLE_': ''})|title }}
                            {% endfor %}
                        </td>
                        <td>{{ user.posts.count }}</td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>

        </div>
    </div>

{% endblock %}