{% extends 'frontend/default/base.html.twig' %}

{% block body %}
    <div class="row">
        <div class="col-md-12">

            <h4>
                Total Posts: <strong>{{ paginator.getTotalItemCount }}</strong>
            </h4>

            {% include 'messages/success.html.twig' %}

            {% for post in paginator %}
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <a href="{{ path('post', {'id':post.id,'slug': post.slug}) }}">{{ post.title }}</a>
                    </div>
                    <div class="panel-body">
                        {{ post.excerpt }}
                        <hr>
                        by <strong>
                            <a href="{{ url('user_posts', {"email": post.user.email}) }}">{{ post.user.name }}</a>
                        </strong> at {{ post.createdAt | date('Y-m-d H:i:s') }}
                    </div>
                </div>
            {% endfor %}

            <div class="text-center">
                {{ knp_pagination_render(paginator) }}
            </div>
        </div>
    </div>
{% endblock %}
